/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .nav-elements {
        margin-top: 0;
    }

    .login {
        margin-right: 80px;
    }
    h1, 
    h4, 
    #mc_embed_signup {
        max-width: 720px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}